body {
    font-family: 'Lato', 'Open Sans', 'Roboto', sans-serif;
}

.jumbo-image {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('img/road-trip-1.jpg');

}
